.hotel
  padding-top: 23px
  padding-bottom: 70px
  &-info
    padding-bottom: 20px
    &__description
        margin: 0
    display: flex
    align-items: center
    justify-content: space-between
    &__offer
      margin-left: 14px
      margin-top: 4px
    &__name
      margin-top: 4px
      margin-bottom: 0
  &-name
    font-size: 24px
    line-height: 30px
  &-wrapper
    display: flex
    align-items: center
    flex-wrap: wrap
  &-description
    font-size: 12px
    line-height: 15px
.offer
  font-size: 10px
  line-height: 12.55px
  padding: 4px 9px
  background-color: $primary
  color: $light
  border-radius: 3px
.stars
  flex-basis: 100%
  &__image
    width: 6px
    height: 6px
.rating
  max-width: 65px
  min-height: 45px
  text-align: center
  background-color: $primary
  color: $light
  border-radius: 4px
  &__text
    font-size: 8px
    line-height: 8px
  &__counter
    font-size: 14px
    line-height: 18px
.swiper
  width: 100%
  height: 450px
  position: relative
  border-radius: 8px
  &::after
    content: ''
    width: 100%
    height: 100%
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    z-index: 10
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
.slider
  width: 722px
  &-button
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 99
    height: 30px
    width: 30px
    border: none
    background-color: red
    cursor: pointer
    background-repeat: no-repeat
    background-size: 10px
    background-position: center
    background-color: transparent
    &--next
      right: 18px
      background-image: url(../images/arrow-next.svg)
    &--prev
      left: 18px
      background-image: url(../images/arrow-prev.svg)
