.hotel
  padding-top: 23px
  padding-bottom: 70px
  &-info
    padding-bottom: 20px
    &__description
        margin: 0
    display: flex
    align-items: center
    justify-content: space-between
    &__offer
      margin-left: 14px
      margin-top: 4px
    &__name
      margin-top: 4px
      margin-bottom: 0
  &-name
    font-size: 24px
    line-height: 30px
  &-wrapper
    display: flex
    align-items: center
    flex-wrap: wrap
  &-description
    font-size: 12px
    line-height: 15px
  &-grid
    display: flex
    width: 1110px
    margin: auto
.offer
  font-size: 10px
  line-height: 12.55px
  padding: 4px 9px
  background-color: $primary
  color: $light
  border-radius: 3px
.stars
  flex-basis: 100%
  &__image
    width: 6px
    height: 6px
.rating
  max-width: 65px
  min-height: 45px
  text-align: center
  background-color: $primary
  color: $light
  border-radius: 4px
  &__text
    font-size: 8px
    line-height: 8px
  &__counter
    font-size: 14px
    line-height: 18px
.swiper-container
  width: 100%
  height: 450px
  position: relative
  border-radius: 8px
  &::after
    content: ''
    height: 100%
    width: 100%
    position: absolute
    right: 0
    top: 0
    left: 0
    bottom: 0
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    z-index: 99
.slider
  width: 728px
  &-button
    width: 30px
    height: 30px
    z-index: 99
    top: 50%
    transform: translateY(-50%)
    border: none
    position: absolute
    cursor: pointer
    background-color: transparent
    &--next
      right: 18px
      background-image: url(../images/arrow-next.svg)
      background-repeat: no-repeat
      background-position: center
      background-size: 10px
    &--prev
      left: 18px
      background-image: url(../images/arrow-prev.svg)
      background-repeat: no-repeat
      background-position: center
      background-size: 10px
.booking
  background-color: $dark
  color: $light
  border-radius: 8px
  max-width: 350px
  min-width: 250px
  padding: 28px
  &__info
    display: flex
  &__price
    display: flex
    flex-direction: column
  &__icon
    width: 14px
    height: 14px
  